name: AWS WhoAmI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  whoami:
    runs-on: ubuntu-latest
    environment:
      name: "whoami"
    steps:
      - uses: actions/checkout@v4


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::923498177713:role/sd-org-role-chain-access-iam-role
          aws-region: us-weast-1

      - name: Whoami
        run: aws sts get-caller-identity
