name: AWS WhoAmI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  whoami:
    runs-on: ubuntu-latest
    #environment:
    #  name: "whoami"
    steps:
      - uses: actions/checkout@v4


      - name: Debug OIDC Claims
        uses: github/actions-oidc-debugger@main
        with:
          audience: '${{ github.server_url }}/${{ github.repository_owner }}'


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::036676154772:role/gh-policy
          aws-region: eu-central-1

      - name: Whoami
        run: aws sts get-caller-identity
