name: Test AWS Deployment

on:
  workflow_dispatch:
  push:
    paths:
      - 'environments/*/*.hcl'
      - '.github/workflows/*.yml'
      - '.github/workflows/*.yaml'
  
permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  setup:

    uses: ./.github/workflows/setup.yaml
    

      
    with:
      environment: "whoami"
      tofu_version: "1.9.1"
      terragrunt_version: "0.80.4"
      region: "us-east-2"
      role_policy: "arn:aws:iam::036676154772:role/gh-policy"
      role_deployer: "arn:aws:iam::036676154772:role/gh2"

