name: AWS WhoAmI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  whoami:
    environment:
      name: "whoami"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::036676154772:role/gh-policy
          aws-region: eu-central-1

      - name: Show identity
        run: aws sts get-caller-identity

