name: AWS WhoAmI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  whoami:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Print OIDC sub
        run: |
          echo "Fetching OIDC token..."
          TOKEN=$(curl -sSL -H "Authorization: bearer $ACTIONS_ID_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=sts.amazonaws.com")
          echo "Decoded token:"
          echo $TOKEN

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::036676154772:role/gh-policy
          aws-region: eu-central-1

      - name: Whoami
        run: aws sts get-caller-identity
