name: Test AWS Deployment

on:
  workflow_dispatch:

jobs:
  setup:
    uses: ./.github/workflows/setup.yaml
    with:
      tofu_version: "1.9.1"
      terragrunt_version: "0.80.4"
      region: "us-east-2"
      role_policy: "arn:aws:iam::036676154772:role/gh-policy"
      role_deployer: "arn:aws:iam::036676154772:role/gh2"

